/**
 * Site header and footer
 */
%bookends {
  background-image: linear-gradient(45deg, #a00, #e66);
  width: 100%;
  text-transform: lowercase;
  padding-left: 75px;
  padding-right: 0;
  padding-bottom: 0;

  a {
    @include font-smoothing;
    color: inherit;
    font-weight: 400;
  }
}

/**
 * Site header
 */
.site-header {
  @extend %bookends;

  margin: 0;
  left: 0px;
  top: 0px;
  height: 40px;
  padding-top: 8px;
  border-bottom: solid 1px black;
  color: rgba(255, 255, 255, 1.0);
  letter-spacing: 1px;

  a {
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        text-align: left;
        padding-left: 2em;
      }

      li:first-child {
        padding-left: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  @extend %bookends;

  border-top: solid 1px #ddd;
  height: 30px;
  margin-bottom: 0;
  padding-top: 6px;
  font-size: 75%;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7);

  a {
    text-decoration: none;
    font-weight: 400;
    @include font-smoothing(false);
  }
}

/**
 * Page content: guide
 */
.guide {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  display: flex;

  .sidebar {
    padding-top: 0.75em;
    position: relative;
    z-index: 1;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 33%;
    min-height: 90vh;
    border-bottom: 0;
    border-right: 1px solid #F8E7CF;
    padding: 3em 1.618em 3em 0;

    nav {
      ol {
        li {
          margin-bottom: 8px;
        }

        list-style-type: none;
        padding: 0;
        margin: 1em 0 0 0;
        font-family: Montserrat, helvetica, arial, sans-serif;
        letter-spacing: 0;
        @include font-smoothing;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: $heading-brick-red;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
          }
        }
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -100vw;
      content: "";
      display: block;
      background-color: $guide-sidebar-background;
      z-index: -1;
    }
  }

  article {
    padding: 2rem 2rem 4rem 2rem;
    @include font-smoothing;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: $readable-brown-text;
    line-height: 1.6em;

    h1 {
      font-size: 2rem;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1em;
      margin-bottom: 1em;
      color: $heading-brick-red;
    }

    a {
      color: #a00;
      text-decoration: underline;
      text-decoration-style: dotted;

      &:hover {
        color: #a63931;
      }
    }
  }
}

/**
 * Page content: home
 */
.home {
  padding: 0;
  color: #111;

  a {
    color: #a00;
    text-decoration-style: dotted;
  }

  h1, h2, h3, h4 {
    @include font-smoothing;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  #hero {
    // Since the hero image auto-resizes, any slop should match the first section's background.
    background-color: #eee;

    // allow the logo and slogan to be positioned absolutely
    position: relative;
    font-family: Montserrat, arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);

    #hero-wrapper {
      padding: 0;
      margin: 0;
      background: black;
      border: 0;
    }

    #hero-background {
      width: 100%;
      display: block;
      height: auto;
      border-bottom: solid 1px black;
    }

    #logo {
      position: absolute;
      top: 55px;
      left: 75px;
      margin-left: -12px; // the left margin within the logo image is 12px wide
    }

    .unicode-heart {
      font-family: 'Times New Roman';
      font-size: 130%;
    }

    h2 {
      position: absolute;
      margin: 0;
      top: 178px;
      left: 75px;
      letter-spacing: 2px;
    }
  }

  #construction {
    display: block;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
  }

  #hack-without-fear {
    background-color: white;
  }

  #crash-free-memory-management {
    background-color: #ffeeff; /* violet */
    border-top: solid 1px #ccc;
  }

  #easy-parallelism {
    background-color: white;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
  }

  #learn-more {
    background-color: #ffeeff; /* violet */
  }

  .body {
    position: relative;
    background-color: #eee;

    .contents {
      max-width: 800px;
      margin: auto;
      padding: 1em 0 6em 0;
      text-align: center;

      h1 {
        margin-top: 2em;
        font-size: 36pt;
        color: #c22;
      }

      p {
        font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 36px;
        margin: 1em;
        @include font-smoothing;
      }

      p#overview {
        margin-bottom: 0.25em;
      }

      p#wip-fine-print {
        font-size: 1rem;
        margin-top: 0;
      }

      pre {
        @include font-smoothing;
        font-size: 24px;
        text-align: left;
        border-radius: 4px;
        border: 2px solid #222;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        background-color: rgb(51, 51, 51);
        color: white;
        padding: 1em;
        margin: 3em 1em 1em 1em;
        font-family: "Ubuntu Mono", Consolas, Monaco, monospace;
        font-weight: normal;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .kw {
          font-weight: bold;
          color: #669;
        }

        .str {
          color: #0a0;
        }

        .fn {
          color: #8cf;
        }

        .prompt, .comment {
          color: rgb(102, 102, 102);
        }
      }

      iframe {
        margin-top: 2em;
      }
    }
  }
}
